diffs/.ignore
entradas/01.txt
entradas/02.txt
entradas/03.txt
entradas/04.txt
entradas/05.txt
entradas/06.txt
entradas/07.txt
entradas/08.txt
entradas/09.txt
entradas/10.txt
entradas/11.txt
entradas/12.txt
entradas/13.txt
entradas/14.txt
entradas/15.txt
entradas/16.txt
entradas/17.txt
entradas/18.txt
entradas/19.txt
entradas/20.txt
entradas/21.txt
salidas/01.txt
salidas/02.txt
salidas/03.txt
salidas/04.txt
salidas/05.txt
salidas/06.txt
salidas/07.txt
salidas/08.txt
salidas/09.txt
salidas/10.txt
salidas/11.txt
salidas/12.txt
salidas/13.txt
salidas/14.txt
salidas/15.txt
salidas/16.txt
salidas/17.txt
salidas/18.txt
salidas/19.txt
salidas/20.txt
salidas/21.txt
mios/.ignore
plantilla-tarea2.pas
principal2.pas
test.sh
mios/01.txt
mios/02.txt
mios/03.txt
mios/04.txt
mios/05.txt
mios/06.txt
mios/07.txt
mios/08.txt
mios/09.txt
mios/10.txt
mios/11.txt
mios/12.txt
mios/13.txt
mios/14.txt
mios/15.txt
mios/16.txt
mios/17.txt
mios/18.txt
mios/19.txt
mios/20.txt
mios/21.txt
principal2.o
principal2
diffs/04.txt
diffs/05.txt
diffs/06.txt
diffs/09.txt
diffs/10.txt
diffs/12.txt
diffs/17.txt
diffs/18.txt
diffs/19.txt
diffs/20.txt
diffs/21.txt
diffs/04.txt
diffs/05.txt
diffs/06.txt
diffs/09.txt
diffs/10.txt
diffs/12.txt
diffs/17.txt
diffs/04.txt
diffs/04.txt
diffs/05.txt
diffs/06.txt
diffs/07.txt
diffs/08.txt
diffs/09.txt
diffs/10.txt
diffs/11.txt
diffs/12.txt
diffs/17.txt
diffs/04.txt
diffs/05.txt
diffs/06.txt
diffs/09.txt
diffs/12.txt
diffs/17.txt
