diffs/.ignore
entradas/01.txt
entradas/02.txt
entradas/03.txt
entradas/04.txt
entradas/05.txt
entradas/06.txt
entradas/07.txt
entradas/08.txt
entradas/09.txt
entradas/10.txt
entradas/11.txt
entradas/12.txt
entradas/13.txt
entradas/14.txt
entradas/15.txt
entradas/16.txt
entradas/17.txt
entradas/18.txt
entradas/19.txt
entradas/20.txt
entradas/21.txt
salidas/01.txt
salidas/02.txt
salidas/03.txt
salidas/04.txt
salidas/05.txt
salidas/06.txt
salidas/07.txt
salidas/08.txt
salidas/09.txt
salidas/10.txt
salidas/11.txt
salidas/12.txt
salidas/13.txt
salidas/14.txt
salidas/15.txt
salidas/16.txt
salidas/17.txt
salidas/18.txt
salidas/19.txt
salidas/20.txt
salidas/21.txt
mios/.ignore
plantilla-tarea2.pas
principal2.pas
test.sh
